.list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    justify-content: start;
    align-items: start;
    gap: 0;
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid black;
}

.list__item {
    width: 35px;
    height: 35px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}

.calendar-header {
    border-top: 1px solid black;
}

.calendar-header .list__item {
    background-color: rgb(6, 17, 78);
}
