NODE_PORT = 0000
NODE_SALT_ROUNDS = 10
NODE_JWT_SECRET=JWT_SECRET
NODE_MONGO_DB=mongodb://user:PASSWORD@localhost:PORT/NAME_DB?authSource=admin
NODE_MONGO_DB=mongodb://user:PASSWORD@host.docker.internal:27017/NAME_DB?authSource=admin
